
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital@0;1&display=swap');

:root {
  --om: #db634e;
  --twoThree: #232323;
  
}
*{
  font-family: Playfair Display;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
 font-weight: 100;
 font-family: Playfair Display;

}

/* Navigation */


.navigation-checkbox{
  display: none;
}
.navigation-button{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed; 
  top: 7rem;
  right: 8rem;
  background-image: radial-gradient( white, var(--om));
  z-index: 2009;
  transition: all .8s;
}

.navigation-background{
  background-image: radial-gradient(var(--om), rgba(255, 255, 255, 0.842));
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 7rem;
  right: 8rem;
  z-index: 1000;
  border-radius: 50%;
  box-shadow: 0 1rem 1rem #2323;
  text-align: center;
  transition: all .8s;
}

.navigation-nav{

  height: 100vh;
        width:100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        width: 0;
        transition: all .8s;
}

.navigation-list{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20%;
}

.navigation__item{
  margin: 1rem;
  list-style: none;

}


.nav-link:link,
.nav-link:visited{
  display: inline-block;
  font-size: 1.6rem;
  color: white;
  padding: .5rem 2rem;
  font-weight: 300;
  background-size: 232%;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg,transparent 0%, transparent 50%, white 50%);
  transition: all 1s;

}

.nav-link:hover,
.nav-link:active{
  background-position: 100%;
  color: var(--om);
  



}


/* Checkbox */

.navigation-checkbox:checked ~ .navigation-background{
  transform: scale(90);
}
.navigation-checkbox:checked ~ .navigation-nav{

  width: 100%;
}


/* icon */


.navigation-icon{
  position: relative;
  margin-top: 1.9rem;
  margin-left: 1.2rem;
  left: 0;
  transition: all .6s;

}


.navigation-icon,
.navigation-icon::after{
  width: 2.8rem;
  height: 2px;
  background: black;
  display: inline-block

}

.navigation-icon::before{
  content: '';
           position: absolute;
           left: 0;
           transition: all .3s;
}
.navigation-icon::after{
          content: 'MENU';
           position: absolute;
           font-weight: 100;
           font-family: Playfair Display;
           
           left: 0;
           transition: all .3s;

}
.navigation-icon::before{top: -.8rem}
.navigation-icon::after{top: .8rem;}
  







/*header style*/
.header {
  background-image: linear-gradient(to right, rgba(248, 245, 245, 0.685), rgba(233, 227, 227, 0.897)),url('./Image/portfolio.background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
  height: 100vh;
}

.netlify-container {
  color: var(--twoThree);
  position: relative;
  display: flex;
  justify-content: center;
  margin: 8rem 3rem;
  height: 70rem;
  flex-direction: row;
  
  
  
  
}

.netlify h1{
  text-align: center;
}


.netlify a {
  
  border: none;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  margin: 1.5rem;
  color:var(--twoThree) !important;
  font-weight: 100;
  font-family: Playfair Display;
  display: flex;
  justify-content: center;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;

  /*   color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: .8rem 2.1rem;
  border-radius: 100px;
  background-image: linear-gradient(to right bottom, var(--om) 15%, var(--23));
  font-size: 18px; */
}

.netlify h1{
  color: var(--om);
  
  margin: 5rem;

}



.netlify a:hover{
  text-decoration: none;
  color: var(--om)!important;
  letter-spacing: 4px;
  border-bottom: 1px solid var(--om);
  border-top: 1px solid var(--om);
  text-shadow: 2px 3px 5px lightgrey;
  transition: all .7s
}

.netlify a:active {
  background-color: transparent
    ;
/*   color: white !important; */
/*   box-shadow: inset 50rem 0rem 0rem white; */
  transition: all .03s;
 border-radius: 500px;
  

  
   
}




/*    Home */


.description {
  position: absolute;
  top: 40%;
  margin: auto;
  margin-left: 2.3em;
  padding: 2.1em;
  height: 100vh;
}


.description h1 {
  color: var(--om);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 4.5px;
  font-family: Playfair Display;
  font-style: italic;
  
  
  
}

.description p {
  color: var(--twoThree);
  font-size: 20px;
  width: 100%;
  
 
  
  text-align: left;
  line-height: 1.5;
}

#profile-link {
  border: none;
  background-image: linear-gradient(to right bottom, var(--om) 55%, white);
  border-radius: 5px;
  padding: 0.4rem 1.3rem;
  color: #fff;
  margin-right: 1rem;
  font-size: 1.3rem;
  box-shadow: 0 1.4rem 7rem #636363;
  transition:  all.2s;
  padding: .4rem 2rem;
    
}

#profile-link:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 1.1rem 1.9rem var(--twoThree);
}

/* About */
.about {
  margin: 5em 0;
  padding: 3rem 2em;
  position: relative;
  display: flex;
  justify-content: center;
}

.about h1 {
  color: var(--om);
  margin: 2em;
  
}

.about p{
  font-family: Montserrat  !important;
}




.desc {
  padding: 2em;
  margin-top: 2em;
  border-left: 2px solid var(--om);
}
.desc h1 {
  color: var(--om);
  margin: 2em;
  
 
}

.desc h3 {
  color: #000;
}

.desc p {
  line-height: 2;
  color:var(--twoThree);
  padding: 2rem 3.7rem;
}

/*Portfolio*/
.portfolio {
  margin: 4em 0;
  position: relative;
}
.portfolio h1 {
  color: var(--om);
  margin: 2em;
 
}
.portfolio img {
  height: 100%;
  width: 100%;
  margin: 0.2em;
}

.portfolio img:hover {
  transform: translateX(3px) translateY(-15px) scale(1.6);
  z-index: 50;
  position: absolute;
  outline: 7px double var(--om);
  outline-offset: 15px;
}

.portfolio img:not(:hover) {
  z-index: -50;
  opacity: 0.9;
}

.blog {
  margin: 4em 0;
  position: relative;
}
.blog h1 {
  color: var(--om);
  margin: 2em;
 
}



.blog .card {
  box-shadow: 0 5px 20px 9px whitesmoke;
  height: 35rem;
  max-width: 24rem;
 


}  
.card-img{
  height: 98%;
  width: 98%;

  
}
 .card img {
 
  width: 100%;
  height: 98%;
 
}
.video{
  margin-top: 8px;
  height: 98%;
  width: 100%;
}

 .card-title {
 
  text-align: center;
  font-size: 1.3rem;
  color:var(--twoThree) !important;
  font-weight: 100;
  font-family: Playfair Display;
  
}

.blog .card-body {
  padding: .1rem;
  font-weight: 100;
  font-family: Playfair Display;
  
}
.card-footer a:link
 {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* .card-footer a:hover,
a:active {
  background-color: var(--om);
  color: black;
} */



.card-text{
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 1.5rem 1rem;
  background: var(--om);
  padding: 1rem 3rem;
  border-radius: 4px;
}



.card-link{
  color: var(--om);
  display: flex;
  
  justify-content: flex-start;
  font-family: Playfair Display;
  font-size: 1.2rem;
  margin: .5rem 2rem;
  padding: .5rem 2rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  
  
  
}

.card-link:hover{
  letter-spacing: 2px;
   color: var(--twoThree);
  border-top: 1px solid var(--twoThree);
  transition: all 2s;
  border-bottom: 1px solid var(--twoThree);
}

.card-link:active{
   transition: all .03s;
   background: transparent;
   border-radius: 500px;
}



.card-img:hover{
  transform: scale(1.5);
  transition: all 2s;
  position: relative;
  z-index: 10;
  box-shadow: 0 5px 20px 9px rgb(153, 150, 150);
  background-color: white;


  
}

/* /////// */
.project {
  margin: 4em 0;
  position: relative;
}
.project h1 {
  color: var(--om);
  margin: 2em;

}
.project .item {
  position: relative;
  height: 300px;
  transition: all 3s;
}

.project img {
  height: 45%;
  width: 145%;
  
}

.project .des {
  background: #000;
  color: white;
  text-align: center;
  border-bottom-left-radius: 50%;
}

.project .item:hover .des {
  height: 90%;
  color: white;
  background: var(--twoThree);
  opacity: 0.8;
  position: absolute;
  width: 98%;
  padding: 1em;
  top: 0;
  border-bottom-left-radius: 10;
}


.reactNative{
  display: flex;
  align-items: center;
  justify-content: center;
}
.reactNative h1{
  color: var(--om);
 
  margin: 5rem;

}



.contact-form h1 {
  padding: 1em 1px;
  color: var(--om);
  
}

.contact-form h3 {

  text-align: center;
  color: var(--twoThree);
  font-size: 25px;
  word-spacing: 10px;
  line-height: 1.8;
  letter-spacing: 1px;
  font-family: Playfair Display;
  
}

.top{
  display: flex;
  justify-content: flex-end;
  margin: 3rem 0;
  color:var(--om)
}

.top:hover{
  color: var(--twoThree);
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  

 
  .header h1 {
    margin-top: 120px;
  }
.video{
 display: flex;
 max-width: 300px;

}
.card{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.card-text {
  max-height: 50;
}

}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 30px;
  }
  .header p {
    font-size: 20px;
  }
  .header {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2018%2F05%2F15%2F21%2F36%2Fbackground-3404345_640.jpg&f=1&nofb=1);
  }
  .about img {
    display: block;
    margin: 0 auto;
    margin-left: 0 auto;
    height: 90%;
    width: 60%;
   

    border-radius: 100%;
  }

  .about p {
    margin: 2em 0;
    padding: 0.5em;
    position: relative;
   
  }

  .desc h1 {
    color: #f8070a;
    text-align: center;
    margin: 30px;
    font-size: 30px;
  }
  .desc h3 {
    font-size: 22px;
  }
  .portfolio h1 {
    font-size: 30px;
  }

  .blog h1 {
    font-size: 30px;
  }
  .project h1 {
    font-size: 30px;
  }

  .contact-form h1 {
    font-size: 30px;
  }
}












